<server description="Liberty server">
    <featureManager>
        <feature>microProfile-3.0</feature>
    </featureManager>
    <quickStartSecurity userName="admin" userPassword="adminpwd"/>
    <keyStore id="defaultKeyStore" location="key.jks" type="jks" password="mpKeystore"/>
    <httpEndpoint host="*" httpPort="${default.http.port}" 
        httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>
    
    <application context-root="/" location="test-jaxrs-2.0-1.0.war" type="war"/>
</server>